@charset "UTF-8";

body {
	background: #ffffe0;
	font-size:1.0em;
	font-family:Arial, sans-serif;
	color:#808080;

}

.post label{
 position: relative;
  padding: 0 .5em .0em 1.7em;
  border-bottom: 1px solid #ccc;
}
.post label::before,
.post label::after {
  position: absolute;
  content: '';
  border-radius: 100%
}
.post label::before {
  top: .0em;
  left: .2em;
  z-index: 2;
  width: 15px;
  height: 15px;
  background: rgba(150, 100, 150, .4);
}
.post label::after {
  top: .3em;
  left: .7em;
  width: 13px;
  height: 13px;
  background: rgba(210, 210, 210, .5);
}

a:visited {
  color: #bc8f8f;
}
.comment label{
 position: relative;
  padding: 0 .5em .0em 1.7em;
  border-bottom: 1px solid #ccc;
}
.comment label::before,
.comment label::after {
  position: absolute;
  content: '';
  border-radius: 100%
}
.comment label::before {
  top: .0em;
  left: .2em;
  z-index: 2;
  width: 15px;
  height: 15px;
  background: rgba(130, 190, 130, .4);
}
.comment label::after {
  top: .3em;
  left: .7em;
  width: 13px;
  height: 13px;
  background: rgba(210, 210, 210, .5);
}
.comments {
	text-align: center;
	width:100%;
}
.comment {
    border: 2px solid #8FBC8F;
    border-radius: 4px;
    margin: 1em 0;
    padding: 1.5em;
    position: relative;
    width:400px;
    display: inline-block;
}
.comment::before {
    background-color: #ffffe0;
    color: #8FBC8F;
    content: "comment";
    font-weight: bold;
    font-size: 20px;
    left: 1em;
    padding: 0em;
    position: absolute;
    top: -1em;
}

.posts {
	text-align: center;
	width:100%;
}

.post {
    border: 2px solid #a9a9a9;
    border-radius: 4px;
    margin: 2em 0;
    padding: 2em;
    position: relative;
    width:1000px;
    display: inline-block;
    Word-break:break-all;
}

.post::before {
    background-color: #ffffe0;
    color: #a9a9a9;
    content: "post";
    font-weight: bold;
    font-size: 30px;
    left: 1em;
    padding: 0em;
    position: absolute;
    top: -1em;

}



.button {
  text-decoration: none;
  font-size:x-small;
  color: #808080;
  width: 50px;
  height: 50px;
  line-height: 40px;
  border-radius: 50%;
  border: double 4px #808080;
  text-align: center;
  overflow: hidden;
  transition: .6s;
}

.button {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

a.btn  {
	display: inline;
	width: 120px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #808080;
	border: 1px solid #808080;
	border-radius: 4px;
	transition: .4s;
}
a.btn:hover {
	background: #808080;
	color: #fff;
}

.fade {
  height: 1px;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.5) 50%,
    hsla(0, 0%, 100%, 0) 100%);
}
