@charset "UTF-8";
body {
	background: #ffffe0;
	font-size:1.0em;
}


div {
	font-size:90%;
	font-family:Arial, sans-serif;
	color:#808080;
	text-align: center;
}

form {
	border:0;
	padding:20px;
	font-size:1.0em;
	font-family:Arial, sans-serif;
	color:#808080;
	border:solid 1px #ccc;
	margin:50px auto;
	width:350px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.login {
  text-decoration: none;
  font-size:x-small;
  color: #808080;
  width: 60px;
  height: 60px;
  line-height: 50px;
  border-radius: 50%;
  border: double 4px #808080;
  text-align: center;
  overflow: hidden;
  transition: .6s;
}

.login {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

