@charset "UTF-8";

body {
	background: #ffffe0;
	font-size:1.0em;
	font-family:Arial, sans-serif;
	color:#808080;
	text-align: center;
}

.usermanage label{
 position: relative;
  padding: 0 .5em .0em 1.7em;
  border-bottom: 1px solid #ccc;
}
.usermanage label::before,
.usermanage label::after {
  position: absolute;
  content: '';
  border-radius: 100%
}
.usermanage label::before {
  top: .0em;
  left: .2em;
  z-index: 2;
  width: 15px;
  height: 15px;
  background: rgba(150, 150, 230, .4);
}
.usermanage label::after {
  top: .3em;
  left: .7em;
  width: 13px;
  height: 13px;
  background: rgba(210, 210, 210, .5);
}

a.btn  {
	display: inline;
	width: 120px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #808080;
	border: 1px solid #808080;
	border-radius: 9px;
	transition: .4s;
}
a.btn:hover {
	background: #808080;
	color: #fff;
}
.usermanage {
	text-align: center;
	width:100%;
}
.user {
	text-align:left;
    background-color: #eee;
    margin: 2em ;
    padding: 2em;
    width: 200px;
    height:  250px;
    display: inline-block;
}

.cp_btn {
	position: relative;
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #4CAF50;
}
